#logo {
  svg {
    color: $color-primary;
  }

  h1 {
    color: $color-primary;
    font-size: 36px;
  }
}

#recipes {
  .recipe-card {
    width: calc(380px + var(--bs-gutter-x));

    .card {
      height: calc(100% - 2rem);

      .card-img-top {
        height: 9rem;
        background-color: #eee; // This is just a placeholder
      }

      .card-text {
        &,
        * {
          font-size: 14px;
        }
      }
    }
  }
}
